html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#mainTitle {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1;
    font-size: 50px;
    text-shadow: 0px 0px 15px orange;
    color: orange;
}

.mainSection {
    padding: center;
    box-shadow: 0px 0px 10px yellow;
    margin: auto;
    padding: 10px;
    border: 2px orange solid;   
}

#skills {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 70px;
}

#perfil {
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 200px;
    height: 500px;
    display: inline-block;
}

#social {
    padding-right: 461px;
    display: inline-block;
    height: 500px;    
}

